OPENSEARCH_URL=http://opensearch:9200
OPENSEARCH_USER=
OPENSEARCH_PASSWORD=
OPENSEARCH_INSECURE_DEV=true
MIYABE_SEARCH_ALIAS=miyabe-documents-current
MIYABE_MINUTES_ALIAS=miyabe-minutes-current
MIYABE_REIKI_ALIAS=miyabe-reiki-current
MIYABE_OPENSEARCH_SHARDS=1
MIYABE_OPENSEARCH_REPLICAS=0
SCRAPER_GIJIROKU_INDEX_PARALLEL=1
